<a href="https://colab.research.google.com/github/vini1147/Solyd-Offensive-Security/blob/main/Lista_Tuplas_Dicionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
minha_lista = ['Gui','Joao'] # LISTA
minha_tupla = ('Gui','Joao') # TUPLA
meu_dicionario = {'nome':'Gui','idade':27} # DICIONARIO
meu_conjunto = {'Gui','Joao'}

In [12]:
meu_dicionario['nome'] = 'Vinicius'
meu_dicionario

{'nome': 'Vinicius', 'idade': 27}

In [14]:
meu_dicionario['bairro'] = 'Sobradinho'

In [15]:
meu_dicionario

{'nome': 'Vinicius', 'idade': 27, 'bairro': 'Sobradinho'}

In [20]:
outraIdade = 25
age = 36
txt = "My name is John, and I am {}{}"
print(txt.format(age,outraIdade))

My name is John, and I am 3625

In [22]:
fruits = ["apple", "banana", "cherry"]
# Inserir a palavara "Lim√£o" no segundo item da lista
fruits.insert(1,"lemon")
fruits

['apple', 'lemon', 'banana', 'cherry']

In [23]:
# Remover item da lista
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
fruits

['apple', 'cherry']

In [25]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
more_fruits

['orange', 'mango', 'grapes']

In [27]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
fruits

{'apple', 'cherry'}

In [28]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(
car.get("model")
)

Mustang